body {

}

header {
    margin: 0;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.button {
    color: black;
  background-color: red;
    margin: 2px;
    padding: 20px;
    border-radius: 10px;
}
.picture_smile{

}
.popugai {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text {
    text-align:  center;
}
.logo{
      marging: 100px;
}
footer
{
    height: 200px;
    display:flex;
    flex-direction: row;
    justify-content: center;


}
li {
    list-style-type: none;
}
.company
{
    text-align:  center;

}
.product
{
    text-align:  center;
}
.div3
{
    text-align:  center;
}
.div4
{
    text-align:  center;
}





