.all
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:1250px;
    height:1000px;
    background-color:#2ecc71;


}

.left{

}

.header
{
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}
.Logo
{
margin-left:50px;
}
.smile
{
margin-left:300px;
}
.smile1
{
    display: flex;
    flex-direction: row;
    margin-left:100px;
}
.smile2{
    display: flex;
    flex-direction: row;
    margin-left:100px;
}
.smile3
{
    display: flex;
    flex-direction: row;
    margin-left:100px;
}
.header2
{
    display: flex;
    flex-direction: row;
    margin-left:100px;
}
.text{
    margin-top:100px;
margin-left:200px;
}
.text2
{
    margin-left:100px;
}
.right
{
width:500px;
}
.text3
{
    margin-left:200px;
    margin-top:200px;
}
.username
{
margin-left:200px;
}
.password
{
    margin-left:200px;
    margin-top:20px;
}
.galochka
{
    margin-left: 200px;
    margin-top:10px;
}
.text_forgot
{
    margin-top:-20px;
    margin-left:225px;
}
.knopka
{
    margin-left:200px;
    margin-top:20px;
}
.button1 {
    color: black;
    margin-left:200px;
    margin-top:100px;
    border: 3px solid red;
    padding: 10px;
}


.button2
{
    color: black;
    margin-left:200px;
    margin-top:20px;
    border: 3px solid red;
    padding: 10px;
}
.Log in with Facebook
{
    margin-left:220px;
}
