header {
    margin: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
.button {
    color: black;
    background-color: red;
    margin: 2px;
    padding: 20px;
    border-radius: 10px;
 }

.text {
   margin-top:10px;
margin-left:900px;
 }
.pink_text
{
    color:deeppink;
    margin-left:700px;
    margin-top:10px;
}
.go_premium
{
    margin-left:800px;
    margin-top: 50px;
}
.credit_card
{
    margin-left:1050px;
    margin-top:-17px;
}
.yr
{
margin-left:800px;
    margin-top:10px;
}
.username
{
    margin-left:1050px;
    margin-top: -45px;
}
.save
{
    margin-left:700px;
    margin-top:20px;
}
.date
{
margin-left:1000px;
    magin-top:-50px;
}
.code
{
    margin-left:1150px;
    margin-top:-18px;
}
.MM
{
    margin-left:-300px;
    margin-top:100px;
}
.YY
{
    margin-left:-250px;
    margin-top:-21px;
}
.cvc
{
    margin-left:-100px;
    margin-top:-22px;
}
.features
{
margin-left:850px;
    margin-top:20px;
}
.linia
{
    margin-top:200px;
}
footer
{
    height: 200px;
    display:flex;
    flex-direction: row;
    justify-content: center;
 }
li {
    list-style-type: none;
}